 .parallax>use {
     animation: move-forever 12s linear infinite;
 }

 .parallax>use:nth-child(1) {
     animation-delay: -2s;
 }

 .parallax>use:nth-child(2) {
     animation-delay: -2s;
     animation-duration: 5s;
 }

 .parallax>use:nth-child(3) {
     animation-delay: -4s;
     animation-duration: 4s;
 }

 @keyframes move-forever {
     0% {
         transform: translate(-90px, 0%);
     }
     100% {
         transform: translate(85px, 0%);
     }
 }

 header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 100;
 }
 
 .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


 body {
     background-color: #323232;
     margin: 0;
     padding: 0 0 0 0;
 }



 .waves {
     position: relative;
     top: 5px;
 }

 .ocean {
     position:relative;
     background: linear-gradient(0deg, rgb(8, 2, 116) 0%, rgba(9, 9, 121, 1) 35%, rgba(45, 85, 170, 1) 100%);
     height: 1000vh;
 }



 .ocean-bottom img{
    width:100%;
    height:auto;
    position: absolute;
    left: 0;
    bottom: 0;
 }

 

 /*prevent many large-by-comparison ripples by shrinking the height*/

 @media (max-width: 50em) {
     .content h1 {
         font-size: 12vmax;
     }
 }

 h1 {
     outline: none;
 }

 body {
     background-color: #234;
 }